{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<body>
<div id="box">
    {% block content %}

        <!-- profile details section -->
        <section id="recipe-details">
            <h1>Profile Details</h1>
            <div class="info-section">
                <div class="recipe-header">
                    <!-- default profile image -->
                    {% if not profile.chef %}
                        <img
                                class="recipe-img"
                                src="/static/images/no_chef_img.png"
                                alt="profile-image"
                        />
                        <!-- if the user is not a chef - a default image - no_chef_img.png -->
                        <!-- if the user is a chef - a default image - chef_img.png -->
                    {% else %}
                        <img
                                class="recipe-img"
                                src="/static/images/chef_img.png"
                                alt="profile-image"
                        />
                    {% endif %}

                    <!-- profile full name -->
                    <h1>{{ profile.full_name }}</h1>

                    <!-- profile nickname -->
                    <p class="description">Nickname: {{ profile.nickname }}</p>

                    <!-- profile bio -->
                    <!-- if no profile bio - display 'N/A' -->
                    {% if not profile.bio %}
                        <p class="description">Bio: N/A</p>
                    {% else %}
                        <p class="description">Bio: {{ profile.bio }}</p>
                    {% endif %}
                    {% if publishes %}
                        <!-- total number of published recipes -->
                        <p class="description">Published recipes: {{ publishes.count }}</p>
                    {% else %}
                        <p class="description">Published recipes: 0</p>
                    {% endif %}

                    <!-- Edit/Delete buttons -->
                    <div class="buttons">
                        <a href="{% url 'profile_edit' %}" class="edit-button">Edit</a>
                        <a href="{% url 'profile_delete' %}" class="delete-button">Delete</a>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
</div>
</body>
</html>
